@model WebApp.Models.Additional

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this entry for @Html.DisplayFor(model => model.Resume.Name)</h3>
<div>
    <h4>Additional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalValue)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AdditionalId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-controller="Resumes" asp-route-id="@Model.ResumeId">Back to Resume</a>
    </form>
</div>
